*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
}

.container{
    text-align: center;
    width: 100%;
    margin: auto;
    max-width: 400px;
}

.container h1{
    margin-bottom: 25px;
}

.google-btn{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.google-btn img{
    width: 18px;
}

.divider{
    margin: 25px;
    height: 1px;
    background: #eee;
}

form{
    text-align: left;
}

label{
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

input{
    width: 100%;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 16px;
}

.password-box{
    position: relative;
}

.password-box .eye{
    position: absolute;
    right: 12px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.signup-btn{
    width: 100%;
    border-radius: 12px;
    padding: 14px;
    background: gray;
    color: white;
    font-size: 15px;
    border: none;
}

.signin{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signin a{
    font-weight: bold;
}

footer{
    text-align: center;
    margin-top: auto;
    padding: 20px;
    font-size: 15px;
    color: #777;
}

.footer a{
    color: #777;
}